/* Font size */
.fs-12{
    font-size: 12px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-18{
    font-size: 18px !important;
}
.fs-20{
    font-size: 20px !important;
}
.fs-22{
    font-size: 22px !important;
}
.fs-24{
    font-size: 24px !important;
}
.fs-26{
    font-size: 26px !important;
}
.fs-28{
    font-size: 28px !important;
}
.fs-30{
    font-size: 30px !important;
}
.fs-32{
    font-size: 32px !important;
}
.fs-34{
    font-size: 34px !important;
}
.fs-36{
    font-size: 36px !important;
}
.fs-38{
    font-size: 38px !important;
}
.fs-40{
    font-size: 40px !important;
}
.fs-42{
    font-size: 42px !important;
}
.fs-44{
    font-size: 44px !important;
}
.fs-46{
    font-size: 46px !important;
}
.fs-48{
    font-size: 48px !important;
}
.fs-50{
    font-size: 50px !important;
}
.fs-52{
    font-size: 52px !important;
}
.fs-54{
    font-size: 54px !important;
}
.fs-56{
    font-size: 56px !important;
}
.fs-58{
    font-size: 58px !important;
}
.fs-60{
    font-size: 60px !important;
}

/* Font weight */
.fw-300{
    font-weight: 300 !important;
}
.fw-400{
    font-weight: 400 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}

/* Line height */
.lh-1{
    line-height: 1 !important;
}
.lh-1-2{
    line-height: 1.2 !important;
}
.lh-1-4{
    line-height: 1.4 !important;
}
.lh-1-6{
    line-height: 1.6 !important;
}
.lh-1-8{
    line-height: 1.8 !important;
}
.lh-2{
    line-height: 2 !important;
}
.tcul_clip1{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}
.tcul_clip2{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}
.tcul_clip3{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}
.tcul_clip4{
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
}
.mw-100{
    max-width: 100% !important;
}
.mw-80{
    max-width: 80% !important;
}
.mw-90{
    max-width: 90% !important;
}
.mw-50{
    max-width: 50% !important;
}
.mw-10{
    max-width: 10% !important;
}

/* Desktop */
@media (max-width: 767px) {

}

/* Mobile */
@media (max-width: 767px) {
    .pt-sm-0{
        padding-top: 0px !important;
    }
    .pb-sm-0{
        padding-bottom: 0px !important;
    }
    .mt-sm-0{
        margin-top: 0px !important;
    }
    .mb-sm-0{
        margin-bottom: 0px !important;
    }
    .mw-sm-100{
        max-width: 100% !important;
    }
}